<!--
    -----New Restaurant Page-----
    This page is the form that the user can use to submit a new restautant.
    The form will need a box for:
        - Restaurant name 
        - Address
        - Phone #
        - Type of Food
        - a bio 
        - and a required picture field
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/styles.css">        
    </head>
    <body>
        <!-- Page Header -->
        <h1>Add a New Restaurant</h1>
        <div class="nav-bar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/allRestaurants">View All Restaurants</a></li>
                <li><a href="/review">Leave a Review</a></li>
                <li><a href="/newRestaurant">Add a Restaurant</a></li>
            </ul>
        </div>
        <br>
        <form action="/newRestaurant.html" method="post" enctype="multipart/form-data">
            <!-- Restaurant Name -->
            <label for="restaurantName">Restaurant Name:</label>
            <input type="text" id="restaurantName" name="restaurantName" placeholder="McDonalds" required>
        <br>
        <br>
            <!-- Address -->
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" placeholder="123 E High Drive" required>
        <br>
        <br>
            <!-- Phone Number -->
            <label for="phoneNumber">Phone Number:</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        <br>
        <br>
            <!-- Food Type -->
            <label for="foodType">Food Type:</label>
            <input type="text" id="foodType" name="foodType" placeholder="American" required>
        <br>
        <br>
            <!-- Bio Entry -->
            <label for="bio">Bio:</label>
            <input type="text" id="bio" name="bio" placeholder="I'm Lovin It!" required>
        <br>
        <br>
            <!-- Picture Upload -->
            <label for="imageUpload">Upload an Image (.png/.jpeg):</label>
            <input type="file" id="imageUpload" name="imageUpload" accept="image/png, image/jpeg" required>
        <br>
        <br>

        <input type="submit" value="Submit">

        </form>

    </body>
</html>