<!--
    -----Leave a Review Page-----
    This will be a form that will allow the user to leave a review 
    for the selected restuarant. 
    The form will need to have boxes for:
        - A dropdown for selecting a restaurant
        - A seies of buttons 1-5 for the rating
        - A text area for leaving your review
        - An option for a user to upload a picture
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <!-- Page Header -->
        <h1>Leave a Review</h1>
        <div class="nav-bar">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="allRestuarants.html">View All Restaurants</a></li>
                <li><a href="review.html">Leave a Review</a></li>
                <li><a href="newRestaurant.html">Add a Restaurant</a></li>
            </ul>
        </div>
        <br>
        <!-- Action needs to be updated when Back-End implementation start -->
        <form action="https://wp.zybooks.com/form-viewer.php" method="post">
            <!-- Restaurant Name -->
            <label for="restaurantName">Choose a restaurant:</label>
            <select name="restaurantName" id="restaurantName">
                <% names.forEach((val)=>{
                    %>
                        <option value="<%= val.name %>"><%= val.name %></option>
                    <%
                }) %>
            </select>
        <br>
        <br>
        <!-- Rating: Radio Buttons -->
        <div id="RatingRadioButton">
            <fieldset id="ratingFieldset">
                <legend>Rating</legend>
                <input type="radio" class="radio" name="radio" value="1" id="radio1" />
                <label for="y">1 Star</label>
                <input type="radio" class="radio" name="radio" value="2" id="radio2" />
                <label for="y">2 Stars</label>
                <input type="radio" class="radio" name="radio" value="3" id="radio3" />
                <label for="y">3 Stars</label>
                <input type="radio" class="radio" name="radio" value="4" id="radio4" />
                <label for="y">4 Stars</label>
                <input type="radio" class="radio" name="radio" value="5" id="radio5" />
                <label for="y">5 Stars</label>
            </fieldset>
        </div>
        <br>
            <!-- Comments -->
            <label for="comments">Comments:</label>
            <textarea name="comments" rows="8" cols="100" placeholder="I thought this restaurant was..."></textarea>
        <br>
        <br>
            <!-- Picture Upload -->
            <label for="imageUpload">Upload an Image (.png/.jpeg):</label>
            <input type="file" id="imageUpload" name="imageUpload" accept="image/png, image/jpeg" />
        <br> 
        <br>
        
        <input type="submit" value="Submit">

        </form>

    </body>
</html>