/* CSS Stying Sheet 
This will contain all the CSS styling for the all web pages.
*/
.nav-bar {
    border: solid #000000;
    border-radius: 10px;
}
.nav-bar > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0px;
    gap: 10px;
}
.nav-bar > ul > li {
    flex-grow: 1;
    text-align: center;
}
.nav-bar ul > li > a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-variant-caps: small-caps;
    text-decoration: none;
}
.nav-bar > ul > li > a:hover{
    background-color: rgb(61, 61, 217);
    color: #FFFFFF;
    padding: 10px;
    text-decoration: overline;
    font-weight: bold;
}

body {
    background-color: lightgrey;
}

.RatingRadioButton {
    overflow: hidden
}
  
.radioButtons {
    float: left;
    clear: none;
}
  
label {
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
}
  
input[type=radio], input.radio {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
}

#comments {
    width: 500px;
    height: 100px;
    
}

#ratingFieldset {
    border: 0;
}