/* CSS Stying Sheet 
This will contain all the CSS styling for the all web pages.
*/

body {
    background-color: lightgrey;
}

.RatingRadioButton {
    overflow: hidden
}
  
.radioButtons {
    float: left;
    clear: none;
}
  
label {
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
}
  
input[type=radio], input.radio {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
}

#comments {
    width: 500px;
    height: 100px;
    
}

#ratingFieldset {
    border: 0;
}